@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer base {
  button {
    @apply uppercase bg-coolorange
    px-5 py-4
    transition-all duration-200
    hover:bg-coolorangebrighter;
  }  
}

@layer components {
  .icon {
    @apply relative flex items-center justify-center 
    transition-all duration-500 ease-in-out
    h-7 w-7 shadow-lg
    text-indigo-500 bg-white
    rounded-2xl hover:rounded-md;
  }
}